# 1) python program to scrape data for “Data Analyst” Job position in “Bangalore” location

In [1]:
import selenium 
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome(r'C:/Users/sagar/Downloads/chromedriver_win32 (1)/chromedriver.exe')

In [3]:
driver=webdriver.Chrome('chromedriver.exe')

In [4]:
url="https://www.naukri.com/"
driver.get(url)

In [5]:
search_job=driver.find_element_by_class_name("suggestor-input  ")
search_job

In [6]:
search_job.send_keys("Data Analyst")

In [7]:
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [8]:
search_loc.send_keys('Bangalore')

In [9]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [10]:
search_btn.click()

In [11]:
salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[1]/label/i')
salary_check

In [12]:
salary_check.click()

In [13]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="388c0608-d701-4301-94f0-794c48b1f94a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="e7798d78-2a07-4a9f-8c86-34b992e03d40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="70250f16-876a-4e5d-b70f-1db499094bcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="19ea664b-a70c-4a25-a5a5-d871f875ec44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="6a76f3eb-0dab-4f50-8325-f351c080b5fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="966c00be-6761-4fed-a642-39073e3524a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="66936ad7-a5dd-45df-b2ae-1e45e7a57992")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="a78b8211-4ad3-4167-b290-abbbb5c57427")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="750dbbd8-106f-4864-b585-ef6b47771578")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="63877f5e-3d6f-4e2f-bf85-3945a8115708")>]

In [14]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Data Coordinator | Data Analyst | MS Excel | Typing | Bangalore',
 'Looking For Data Analyst',
 'software developer & Testing / Business Analyst/Data Analyst/Python.',
 'Data Analyst || Advance Excel || D Limit || Concatenate',
 'Data Analyst',
 'Data Operations Analyst',
 'Computer Operator | Computer Skills |Computer Data Analyst | Part-Time',
 'Data Analyst Work FROM Home',
 'Hiring For Data Analyst from 1 yr of exp in Bangalore Location',
 'Video Data Analyst']

In [16]:
company_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="8aea0a88-988a-44d4-9ea5-509375391199")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="9b645679-74c0-4606-8a11-0585e32ac7c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="b9e02852-c369-4e66-8e16-d3e0888d5dfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="c61d40a6-c97d-47c4-b728-146ebaaa3950")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="e4456424-a4d5-4d0f-803b-41555a388547")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="945835f4-aa91-4a97-8a9a-27a9cffcc426")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="d5d3062e-66aa-4ad6-8c29-23489607cd2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="f2dc511c-e5fd-46b1-8aee-0b8e815d452b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="052c0862-4748-4321-b81a-749f68256cc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="8f286548-f51f-421b-8efc-a13a8d91667a")>]

In [19]:
company_titles=[]

for i in company_tags:
    company_titles.append(i.text)
len(company_titles)
company_titles[0:10]

['Inspiration Manpower Consultancy Pvt. Ltd.',
 'Trellance',
 'SECRET TECHNOLOGIES INDIA VMS GROUP',
 'Inspiration Manpower Consultancy Pvt. Ltd.',
 'Capillary Technologies',
 'epiFi Technologies',
 'D2 Retro',
 'Fine Homes and Interior',
 'PROMANTUS INDIA PRIVATE LIMITED',
 'Arivon Technologies']

In [41]:
salary_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(salary_tags)
salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="317f4c34-a257-42a6-b778-b029e341787e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="c2611098-226e-4ccd-85ac-67ee26d6ce7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="5af3ec24-db5d-4599-a45b-7fda329eb615")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="d76fbb8f-6e36-425f-a401-2926879b6473")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="52808f7b-6067-4ce9-8b32-e0c5087e9761")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="3e8e40b7-2c57-4207-a18e-b3835afd9735")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="6ade7b85-4075-4b39-9745-e924c2506fc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="d4c5be29-5749-4c31-9c10-2c9d482c816f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="b4220bef-91c6-4f2a-9e33-71013c80885b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="a8a8740c-3b2d-419d-895f-a171a9cd3d77")>]

In [43]:
salary_titles=[]

for i in salary_tags:
    salary_titles.append(i.text)
len(salary_titles)
salary_titles[0:10]

['1,00,000 - 2,50,000 PA.',
 '2,00,000 - 7,00,000 PA.',
 '2,00,000 - 6,50,000 PA.',
 '1,00,000 - 1,50,000 PA.',
 'Not disclosed',
 'Not disclosed',
 '1,25,000 - 2,00,000 PA.',
 '2,00,000 - 4,75,000 PA.',
 'Not disclosed',
 '1,50,000 - 3,00,000 PA.']

In [45]:
locn_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)
locn_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="0e71386b-05f8-47c1-83e8-c1dee25ecd93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="71b9df6d-2023-4193-9b0c-64ee5c77b606")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="075603c6-bf9e-4944-b69e-3cb535cbc4c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="f665b140-12f1-41bc-b0bf-e2284870999e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="fd4b4f30-a3d4-410d-9e8a-9b6e9d02af59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="db5dd350-eff2-4992-b2c0-c13db53bb93e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="6d24868f-8c3f-4089-9f61-c433e6031964")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="8344c8c9-6683-42ef-ba0c-3f2ef6e3f1a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="6fdb11fb-1f4c-44ba-b77a-7a186ae34c79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bb5bac1f39eac90d8905fc57248b2f74", element="7be334ec-9035-4163-a724-6568027456a0")>]

In [46]:
locn_titles=[]

for i in locn_tags:
    locn_titles.append(i.text)
len(locn_titles)
locn_titles[0:10]

['Bangalore/Bengaluru(Sadashiva Nagar)',
 'Ahmedabad, Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [47]:
len(job_titles),len(company_tags),len(salary_tags),len(locn_tags)

(20, 20, 20, 20)

In [49]:
jobs=pd.DataFrame()
jobs['Job Title']= job_titles
jobs['Company']=company_titles
jobs['salary']=salary_titles
jobs['LOcation']=locn_titles
jobs

,Job Title,Company,salary,LOcation
0,Data Coordinator | Data Analyst | MS Excel | T...,Inspiration Manpower Consultancy Pvt. Ltd.,"1,00,000 - 2,50,000 PA.",Bangalore/Bengaluru(Sadashiva Nagar)
1,Looking For Data Analyst,Trellance,"2,00,000 - 7,00,000 PA.","Ahmedabad, Bangalore/Bengaluru"
2,software developer & Testing / Business Analys...,SECRET TECHNOLOGIES INDIA VMS GROUP,"2,00,000 - 6,50,000 PA.","Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumb..."
3,Data Analyst || Advance Excel || D Limit || Co...,Inspiration Manpower Consultancy Pvt. Ltd.,"1,00,000 - 1,50,000 PA.",Bangalore/Bengaluru
4,Data Analyst,Capillary Technologies,Not disclosed,Bangalore/Bengaluru
5,Data Operations Analyst,epiFi Technologies,Not disclosed,Bangalore/Bengaluru
6,Computer Operator | Computer Skills |Computer ...,D2 Retro,"1,25,000 - 2,00,000 PA.","Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
7,Data Analyst Work FROM Home,Fine Homes and Interior,"2,00,000 - 4,75,000 PA.",Bangalore/Bengaluru\n(WFH during Covid)
8,Hiring For Data Analyst from 1 yr of exp in Ba...,PROMANTUS INDIA PRIVATE LIMITED,Not disclosed,"Chennai, Bangalore/Bengaluru"
9,Video Data Analyst,Arivon Technologies,"1,50,000 - 3,00,000 PA.",Bangalore/Bengaluru
10,Senior Marketing Data Analyst,Tide Software,Not disclosed,Bangalore/Bengaluru
11,Data Research Analyst,FUTURES AND CAREERS,Not disclosed,Bangalore/Bengaluru
12,Data Analyst | MIS Executive | Operations Exec...,Sanctus HR,Not disclosed,Bangalore/Bengaluru(Electronic City +4)
13,Data Analyst Internship,Heart It Out,Not disclosed,Bangalore/Bengaluru
14,Data Analyst,St. John’s Research Institute,Not disclosed,Bengaluru
15,Data Analyst,flocareer.com,Not disclosed,Bangalore/Bengaluru
16,Financial Data Analyst,Moody's,Not disclosed,Bangalore/Bengaluru
17,Data Analyst,Aldius Consulting Services Pvt Ltd (Paramantra),"2,00,000 - 3,50,000 PA.",Bangalore/Bengaluru
18,DA&S - Data Science analyst,Accenture,Not disclosed,Bangalore/Bengaluru
19,"Data Analyst , Territory Operations",Twilio,Not disclosed,Bangalore/Bengaluru

# 2): Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location,

In [129]:
import selenium 
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [130]:
driver=webdriver.Chrome(r'C:/Users/sagar/Downloads/chromedriver_win32 (1)/chromedriver.exe')

In [131]:
driver=webdriver.Chrome('chromedriver.exe')

In [132]:
url="https://www.naukri.com/"
driver.get(url)

In [133]:
search_job=driver.find_element_by_class_name("suggestor-input  ")
search_job

In [134]:
search_job.send_keys("Data Scientist")

In [135]:
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [136]:
search_loc.send_keys('Bangalore')

In [137]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div[1]/div[6]')
search_btn

In [138]:
search_btn.click()

In [139]:
salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[1]/label/i')
salary_check

In [140]:
salary_check.click()

# extracting job titles

In [142]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="e07078e2-70f2-4fb1-9de9-388145c27add")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="d86e35d2-ff42-485a-82dc-3bd6f9b0b088")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="50c1e4f3-bf80-4728-b9cd-ea3c639666d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="c1eff8a0-2169-453c-9dc7-4f00c2e28c72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="8ea72afd-cee9-4325-80a2-83d78bf15524")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="8da00c55-b112-47c6-b13e-5fdf2fbb8782")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="821b0e9c-fc88-4da5-9c0a-ac00affb5d88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="cc558183-55a2-4f33-a72a-1afa95f4f917")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="fdb14a44-b251-4103-96cf-29b6246143e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="cbf1af5b-026b-4074-bc33-b7d2cc7eab81")>]

In [143]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Junior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 '1558CRVA-Data Scientist | Bangalore',
 'Opportunity For Data Scientist Internship - Bengaluru',
 'Data scientist ( WFH )',
 'Interested To join permanent position For Data Scientist(Bangalore)',
 'Data Scientist - Immediate Joiners only',
 'Data Scientist',
 'Associate Scientist - Semantic & Data Modeling']

In [144]:
salary_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(salary_tags)
salary_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="0fb3fdf1-7f5c-48d3-825e-4747c58d7365")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="1e32aff5-04d9-43ef-aede-c53255323ac8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="8902d5b7-fa6f-4869-85a6-ae1317193895")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="a3aa47b2-7815-4d0a-9cfb-fcb9f594662e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="c6f04621-0b36-46d7-aa81-dffa744be357")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="fe755e79-4136-49e4-ad7e-9d1386811203")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="3e75fb7e-60d2-40d2-8d7d-abead79bd1b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="1d6677ef-42a1-432d-90e9-c211b498fa53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="a0df48dc-ee1e-4229-a9da-2de1f85f8463")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="8794cde3-12a7-4b38-b17a-76edc20a35a6")>]

In [145]:
salary_titles=[]

for i in salary_tags:
    salary_titles.append(i.text)
len(salary_titles)
salary_titles[0:10]

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '2,00,000 - 5,00,000 PA.',
 '1,00,000 - 2,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '2,25,000 - 4,50,000 PA.',
 'Not disclosed']

In [146]:
company_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="8255f91f-aa6b-4301-baa7-77affefe4b2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="36cf3465-6b2d-4c9f-8176-db9971de84fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="78bec390-ec80-494d-a394-ea772c32a709")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="fffc7e25-6dd9-4d31-a6a7-b1b007a5e4a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="7ffc6199-e2c4-4fc8-8b98-5bb544a724b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="82103d1d-c149-4a1a-a96e-098621731c0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="718f94ef-bfed-4018-94ae-ece6ecc0a4ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="34283e02-8688-4f45-8d65-5907a5537f8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="b720dd12-178c-490e-9dcd-1d4a48f622a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="2e72fb2b-eb3b-4270-917c-a00f4459e84c")>]

In [147]:
company_titles=[]

for i in company_tags:
    company_titles.append(i.text)
len(company_titles)
company_titles[0:10]

['Titan',
 'Korea Trade Center',
 'Genpact',
 'RENOUS EXTENSERVE PRIVATE LIMITED',
 'Corner Stone Solutions',
 'SPM Jobs',
 'Pelatro Solutions Pvt. Ltd',
 'MLAI Digital',
 'Om Consulting',
 'Axa XL']

In [150]:
locn_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)
locn_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="24ecf29a-58c0-4534-aa5f-23dda7d96f2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="2bc4b9b4-06f6-4ade-b7af-bcc0673c61a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="139592e9-087e-43bd-bf23-32f977dc665c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="d441c82d-8b16-4c22-aa09-01a80a8e817b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="43768a83-989a-48fd-ba01-d6b3d32495fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="a9e73c11-078b-421c-baf0-445149ee2967")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="2ee48360-4a5b-46d8-9d6f-3a48c5c41bf3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="1537a264-731d-45b0-b473-a81b5e9ce2b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="97025403-bdbc-4bee-925b-fdb66e01fc7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d8597616bb634d9df5446f88523407f", element="51c17584-4ebe-4c73-acc8-ac2a9c3fd2f9")>]

In [151]:
locn_titles=[]

for i in locn_tags:
    locn_titles.append(i.text)
len(locn_titles)
locn_titles[0:10]

['Bangalore/Bengaluru',
 'New Delhi, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'India, Bangalore/Bengaluru',
 'Indore, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore East']

In [152]:
len(job_titles),len(company_tags),len(salary_tags),len(locn_tags)

(20, 20, 20, 20)

In [153]:
obs=pd.DataFrame()
jobs['Job Title']= job_titles
jobs['Company']=company_titles
jobs['salary']=salary_titles
jobs['LOcation']=locn_titles
jobs

,Job Title,Company,Experience,LOcation,salary
0,Junior Data Scientist,Titan,0-0 Yrs,Bangalore/Bengaluru,Not disclosed
1,Data Scientist,Korea Trade Center,6-10 Yrs,"New Delhi, Gurgaon/Gurugram, Bangalore/Bengalu...",Not disclosed
2,Data Scientist,Genpact,3-4 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru",Not disclosed
3,1558CRVA-Data Scientist | Bangalore,RENOUS EXTENSERVE PRIVATE LIMITED,0-0 Yrs,"India, Bangalore/Bengaluru","2,00,000 - 5,00,000 PA."
4,Opportunity For Data Scientist Internship - Be...,Corner Stone Solutions,2-5 Yrs,"Indore, Bangalore/Bengaluru\n(WFH during Covid)","1,00,000 - 2,00,000 PA."
5,Data scientist ( WFH ),SPM Jobs,3-6 Yrs,Bangalore/Bengaluru,Not disclosed
6,Interested To join permanent position For Data...,Pelatro Solutions Pvt. Ltd,2-7 Yrs,Bangalore/Bengaluru\n(WFH during Covid),Not disclosed
7,Data Scientist - Immediate Joiners only,MLAI Digital,1-6 Yrs,"Bangalore/Bengaluru, Delhi / NCR",Not disclosed
8,Data Scientist,Om Consulting,0-5 Yrs,Bangalore/Bengaluru,"2,25,000 - 4,50,000 PA."
9,Associate Scientist - Semantic & Data Modeling,Axa XL,1-5 Yrs,Bangalore East,Not disclosed
10,Data Scientist,Alp Consulting Limited,0-5 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Not disclosed
11,Data scientist (WFH),SPM HR SOLUTIONS,0-4 Yrs,Bangalore/Bengaluru,Not disclosed
12,Senior Marketing Data Analyst,Tide Software,0-2 Yrs,Bangalore/Bengaluru,Not disclosed
13,Senior Data Analyst 1- Business Intelligence,Axa XL,4-7 Yrs,Bangalore East,Not disclosed
14,Genpact is hiring For Java Angular - Data engi...,Genpact,0-1 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Not disclosed
15,Looking For Data Analyst,Trellance,0-1 Yrs,"Ahmedabad, Bangalore/Bengaluru","2,00,000 - 7,00,000 PA."
16,Data Analyst Work FROM Home,Fine Homes and Interior,0-5 Yrs,Bangalore/Bengaluru\n(WFH during Covid),"2,00,000 - 4,75,000 PA."
17,Data Entry Analyst,Digi Verve Technologies Private Limited,0-3 Yrs,Bengaluru,Not disclosed
18,Data Coordinator | Data Analyst | MS Excel | T...,Inspiration Manpower Consultancy Pvt. Ltd.,0-3 Yrs,Bangalore/Bengaluru(Sadashiva Nagar),"1,00,000 - 2,50,000 PA."
19,Data Analyst Internship,Heart It Out,0-2 Yrs,Bangalore/Bengaluru,Not disclosed

# 3)

In [76]:
# let import all the required libraries 
import selenium 
from selenium import webdriver 
import pandas as pd 
import warnings 
warnings.filterwarnings("ignore")

In [77]:
driver=webdriver.Chrome(r'C:/Users/sagar/Downloads/chromedriver_win32 (1)/chromedriver.exe')

In [78]:
url="https://www.naukri.com/"
driver.get(url)

In [79]:
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job

In [80]:
search_job.send_keys("Data Scientist")

In [81]:
search_btn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn

In [82]:
search_btn.click()

In [84]:
search_locn=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
search_locn

In [85]:
search_locn.click()

In [86]:
search_salary=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[1]/label/i")
search_salary

In [87]:
search_salary.click()

In [88]:
title_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="1e29b594-66a7-42e8-a6e6-270777cf6935")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="fe787c22-e607-48ea-9d28-6cab6cb8ba51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="bd365ef5-015c-431b-9d4a-00301fbcf61c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="f820c060-66a5-4618-8ecd-5908b8f60482")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="54ac8be6-0d82-4857-829d-56cd4692712a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="431fef15-3963-4f07-a13d-ccc56df3c43c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="275c301d-5cf0-46cd-9bb4-4277d6a0a3d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="135fc695-9aac-4069-b118-7d5f84af02fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="66164d1a-4288-473a-a72f-ba83fedc3d64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="79cde3e7-80b0-445e-b06f-c2bc21454be1")>]

In [89]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist',
 'Data Scientist',
 'Only Fresher / Python Data Scientist / Trainee / Analytics - MNC Jobs',
 'Senior Data Scientist',
 'Data Scientist - Immediate Joiners only',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Analyst - Marketing',
 'Developers, Data Scientists, Web Designers, Android Developers']

In [90]:
company_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="9373e5c1-0877-4c4f-a1be-1d123efa28d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="05059947-2176-4002-8751-53b1a2b2de7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="483e2532-fb37-4a9d-be18-ee6206e7d646")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="f086979c-7914-42fd-9aec-2b776b5fe065")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="a820dc6a-aa02-4704-bf92-f78873560ca4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="8b059ae1-7bc9-437b-8486-7bc9b023db58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="f94f098c-fe52-4aad-9f9b-e23caa8c66cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="8c51748e-89d9-4296-acd0-0279e0e06bef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="eaaeff70-04fa-41c7-bc62-d0f74565e378")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="49c4921e-7128-4b55-863b-797ba5f008dc")>]

In [91]:
company_titles=[]

for i in company_tags:
    company_titles.append(i.text)
len(company_titles)
company_titles[0:10]

['GABA Consultancy services',
 'Genpact',
 'Korea Trade Center',
 'GABA Consultancy services',
 'DECISION POINT PRIVATE LIMITED',
 'MLAI Digital',
 'Gauge Data Solutions Pvt Ltd',
 'Alp Consulting Limited',
 'Tide Software',
 'Cogmac Technologies']

In [92]:
exp_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)
exp_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="a89be77a-abd3-4b0c-8762-a4754f22192b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="113ecc91-2235-4f81-9ebc-97a7dee675e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="6660302b-1b24-4e75-92d8-409403c3bc37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="f23be08d-26fa-4bd6-bd9e-7698d5b121c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="aca1a903-4dda-45aa-b34e-4ed6da9ce24f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="b83fcf81-86d8-4f8f-bff0-a088140e8534")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="9c0d8881-f510-40e9-a5da-9002cac60efc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="f7ac947b-6d91-466d-a7a8-fd99c81eb8be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="36ceb89e-1948-46be-a9bc-bc87a0375ecf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="a3f6e79c-2c1e-427e-a676-c96a75ddf973")>]

In [93]:
exp_titles=[]

for i in exp_tags:
    exp_titles.append(i.text)
len(exp_titles)
exp_titles[0:10]

['0-0 Yrs',
 '6-10 Yrs',
 '3-4 Yrs',
 '0-0 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '1-6 Yrs',
 '0-5 Yrs',
 '1-5 Yrs']

In [94]:
locn_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)
locn_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="41b30464-23be-4d69-a1fc-58e34002f7fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="c7517a75-deec-49d6-9316-275086ef57a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="6e3e87b6-4d4c-4c07-a6f0-ba46c3bf74d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="cafd438c-49e6-4588-b9b2-9d21a4052e05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="9620728e-a6a4-436a-b8cb-6da5fcad19c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="ba055bfc-22ec-4365-ad6e-646d212b3843")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="2adbd1a0-5e5f-4d63-9320-673d8d79a75b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="6860cd2b-f4a3-49ae-8bcc-2d7434ce4e53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="3b9e5cb4-3ca9-44ef-8b4c-ba8562b3c8ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39665b5034a63ab4e0b4f8e01a193d06", element="337298af-acc3-44d2-8096-ef629b884208")>]

In [95]:
locn_titles=[]

for i in locn_tags:
    locn_titles.append(i.text)
len(locn_titles)
locn_titles[0:10]

['Noida, New Delhi, Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Chennai\n(WFH during Covid)',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Noida',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi',
 'Noida']

In [96]:
len(job_titles),len(company_tags),len(exp_tags),len(locn_tags)

(20, 20, 20, 20)

In [97]:
jobs=pd.DataFrame()
jobs['Job Title']= job_titles
jobs['Company']=company_titles
jobs['Experience']=exp_titles
jobs['LOcation']=locn_titles
jobs

,Job Title,Company,Experience,LOcation
0,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR"
1,Data Scientist,Genpact,6-10 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
2,Data Scientist,Korea Trade Center,3-4 Yrs,"New Delhi, Gurgaon/Gurugram, Bangalore/Bengalu..."
3,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
4,Senior Data Scientist,DECISION POINT PRIVATE LIMITED,2-5 Yrs,"Gurgaon/Gurugram, Chennai\n(WFH during Covid)"
5,Data Scientist - Immediate Joiners only,MLAI Digital,3-6 Yrs,"Bangalore/Bengaluru, Delhi / NCR"
6,Data Scientist,Gauge Data Solutions Pvt Ltd,2-7 Yrs,Noida
7,Data Scientist,Alp Consulting Limited,1-6 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
8,Lead Data Analyst - Marketing,Tide Software,0-5 Yrs,New Delhi
9,"Developers, Data Scientists, Web Designers, An...",Cogmac Technologies,1-5 Yrs,Noida
10,Quality Analyst / Data Engineer / Associate An...,GABA Consultancy services,0-5 Yrs,"Noida, New Delhi, Delhi / NCR"
11,Data Analyst,Analog Legalhub Technology Solutions Pvt Ltd,0-4 Yrs,New Delhi
12,Junior Data Analyst,SiCureMi Healthcare Technologies,0-2 Yrs,Delhi
13,Senior Data Analyst,Grofers,4-7 Yrs,Gurgaon/Gurugram
14,Data Analyst,Netomi,0-1 Yrs,Gurgaon
15,Process Trainee - Data Analyst,Ameriprise Financial,0-1 Yrs,Gurgaon/Gurugram
16,Data Analyst,Right Step Consulting,0-5 Yrs,"Delhi, Gurgaon"
17,Survey - Data Analyst,doubledutch,0-3 Yrs,Gurgaon/Gurugram
18,MIS Executive / Data Analyst,Stark Industries,0-3 Yrs,"Gurgaon, haryana"
19,Trainee/ Junior - SQL DBA / Data Engineer,IKOKAS Technologies Private Limited,0-2 Yrs,Delhi / NCR\n(WFH during Covid)

# 4): Scrape data of first 100 sunglasses listings on flipkart.com.

In [77]:
import selenium 

from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [78]:
driver=webdriver.Chrome(r'C:/Users/sagar/Downloads/chromedriver_win32 (1)/chromedriver.exe')

In [79]:
driver=webdriver.Chrome('chromedriver.exe')

In [80]:
url="https://www.flipkart.com/"
driver.get(url)

In [81]:
driver.find_element_by_class_name("_2doB4z").click()

#removing pop element

In [82]:
search_flip=driver.find_element_by_class_name("_3704LK")
search_flip

In [83]:
search_flip.send_keys("sunglasses")

In [84]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [85]:
search_btn.click()

In [86]:
brand = []
description =[]
price = []

In [11]:
#scrapping the required details
start=0
end=3
for page in range(start,end):
    
    for i in driver.find_elements_by_class_name("_2WkVRV"):
        brand.append(i.text)
        
    for j in driver.find_elements_by_class_name("IRpwTa"):
        description.append(j.text)
        
    for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(i.text)
        
    
        
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [13]:
print(len(brand),len(description),len(price))

120 120 120

In [15]:
import pandas as pd 
df = pd.DataFrame({'Brand':brand[:100],'Description':description[:100],'Price':price[:100]})

In [16]:
df

,Brand,Description,Price
0,SRPM,UV Protection Wayfarer Sunglasses (50),₹198
1,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹253
2,Elligator,UV Protection Round Sunglasses (54),₹258
3,PIRASO,UV Protection Aviator Sunglasses (54),₹229
4,ROZZETTA CRAFT,"Polarized, Night Vision, Riding Glasses Sports...",₹474
...,...,...,...
95,Arnette,Mirrored Rectangular Sunglasses (58),"₹2,549"
96,PIRASO,UV Protection Aviator Sunglasses (58),₹299
97,Elligator,UV Protection Round Sunglasses (50),₹269
98,United Colors of Benetton,UV Protection Wayfarer Sunglasses (56),₹949
99,Arnette,Mirrored Retro Square Sunglasses (56),"₹2,549"

# 5): Scrape 100 reviews data from flipkart.com for iphone11 phone

In [161]:
import selenium 
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [162]:
driver=webdriver.Chrome(r'C:/Users/sagar/Downloads/chromedriver_win32 (1)/chromedriver.exe')

In [163]:
driver=webdriver.Chrome('chromedriver.exe')

In [164]:
url="https://www.flipkart.com/"
driver.get(url)

In [165]:
driver.find_element_by_class_name("_2doB4z").click()

#removing pop element

In [166]:
search_flip=driver.find_element_by_class_name("_3704LK")
search_flip

In [167]:
search_flip.send_keys("apple iphone 11")

In [168]:
search_btn=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [169]:
search_btn.click()

In [170]:
rating= []
brand=[]
review = []

In [ ]:
#scrapping the required details
start=0
end=3
for page in range(start,end):
    
    for i in driver.find_elements_by_class_name("_1lRcqv"):
        rating.append(i.text)
        
    for j in driver.find_elements_by_class_name("_4rR01T"):
        brand.append(j.text)
        
    for i in driver.find_elements_by_xpath("//span[@class='_2_R_DZ']"):
        review.append(i.text)
        
    
        
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [ ]:
print(len(rating),len(brand),len(review))

In [104]:
import pandas as pd 
df = pd.DataFrame({'Brand':brand[:8],'Rating':rating[:85],'Review':review[:85]})

In [105]:
df

,Brand,Rating,Review
0,"APPLE iPhone 6 (Silver, 128 GB)",4.4,"1,45,544 Ratings & 16,327 Reviews"
1,"APPLE iPhone 6 Plus (Silver, 16 GB)",4.5,"1,670 Ratings & 201 Reviews"
2,"APPLE iPhone 5s (Silver, 16 GB)",4.4,"62,702 Ratings & 7,379 Reviews"
3,"APPLE iPhone 5C (Pink, 8 GB)",3.9,"1,324 Ratings & 265 Reviews"
4,"APPLE iPhone 5C (Yellow, 8 GB)",3.9,"1,324 Ratings & 265 Reviews"
5,"APPLE iPhone 5s (Gold, 16 GB)",4.4,"62,702 Ratings & 7,379 Reviews"
6,"APPLE iPhone 6 Plus (Gold, 64 GB)",4.5,"1,670 Ratings & 201 Reviews"
7,"APPLE iPhone 6 (Gold, 16 GB)",4.4,"1,45,544 Ratings & 16,327 Reviews"
8,"APPLE iPhone 6 (Space Grey, 64 GB)",4.4,"1,45,544 Ratings & 16,327 Reviews"
9,"APPLE iPhone 6 Plus (Space Grey, 128 GB)",4.5,"1,670 Ratings & 201 Reviews"
10,"APPLE iPhone X (Silver, 64 GB)",4.6,"10,982 Ratings & 876 Reviews"
11,"APPLE iPhone 6 (Silver, 64 GB)",4.4,"1,45,544 Ratings & 16,327 Reviews"
12,"APPLE iPhone X (Silver, 256 GB)",4.6,"10,982 Ratings & 876 Reviews"
13,"APPLE iPhone X (Space Gray, 64 GB)",4.6,"10,982 Ratings & 876 Reviews"
14,"APPLE iPhone X (Space Gray, 256 GB)",4.6,"10,982 Ratings & 876 Reviews"
15,"APPLE iPhone 5C (White, 32 GB)",3.9,"1,324 Ratings & 265 Reviews"
16,"APPLE iPhone 5C (White, 8 GB)",3.9,"1,324 Ratings & 265 Reviews"
17,"Apple iPhone 11 (White, 256 GB) (Includes EarP...",4.6,"78,385 Ratings & 5,905 Reviews"
18,"APPLE iPhone 11 (Yellow, 256 GB)",4.6,"78,385 Ratings & 5,905 Reviews"
19,"APPLE iPhone 11 Pro Max (Space Grey, 256 GB)",4.7,"1,091 Ratings & 100 Reviews"
20,"APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)",4.7,"1,091 Ratings & 100 Reviews"
21,"APPLE iPhone 11 Pro Max (Gold, 256 GB)",4.7,"1,091 Ratings & 100 Reviews"
22,"APPLE iPhone 11 (Black, 256 GB)",4.6,"78,385 Ratings & 5,905 Reviews"
23,"APPLE iPhone 11 Pro (Gold, 64 GB)",4.6,"8,571 Ratings & 625 Reviews"
24,"APPLE iPhone 11 Pro (Silver, 256 GB)",4.6,"8,571 Ratings & 625 Reviews"
25,"APPLE iPhone 11 Pro (Midnight Green, 256 GB)",4.6,"8,571 Ratings & 625 Reviews"
26,"APPLE iPhone 11 Pro Max (Silver, 256 GB)",4.7,"1,091 Ratings & 100 Reviews"
27,"APPLE iPhone 11 Pro (Space Grey, 256 GB)",4.6,"8,571 Ratings & 625 Reviews"
28,"Apple iPhone 11 (Red, 64 GB) (Includes EarPods...",4.6,"78,385 Ratings & 5,905 Reviews"
29,"APPLE iPhone 11 Pro (Silver, 64 GB)",4.6,"8,571 Ratings & 625 Reviews"
30,"APPLE iPhone 6 Plus (Silver, 128 GB)",4.5,"1,670 Ratings & 201 Reviews"
31,"APPLE iPhone 5s (Space Grey, 16 GB)",4.4,"62,702 Ratings & 7,379 Reviews"
32,"APPLE iPhone 5C (Blue, 8 GB)",3.9,"1,324 Ratings & 265 Reviews"
33,"APPLE iPhone 6 (Gold, 64 GB)",4.4,"1,45,544 Ratings & 16,327 Reviews"
34,"APPLE iPhone 6 (Silver, 16 GB)",4.4,"1,45,544 Ratings & 16,327 Reviews"
35,"APPLE iPhone 6 (Gold, 128 GB)",4.4,"1,45,544 Ratings & 16,327 Reviews"
36,"APPLE iPhone 6 Plus (Silver, 64 GB)",4.5,"1,670 Ratings & 201 Reviews"
37,"APPLE iPhone 6 Plus (Space Grey, 16 GB)",4.5,"1,670 Ratings & 201 Reviews"
38,"APPLE iPhone 6 (Space Grey, 32 GB)",4.4,"1,45,544 Ratings & 16,327 Reviews"
39,"APPLE iPhone 6 Plus (Space Grey, 64 GB)",4.5,"1,670 Ratings & 201 Reviews"
40,"APPLE iPhone 6 (Grey, 128 GB)",4.4,"1,45,544 Ratings & 16,327 Reviews"
41,"APPLE iPhone 6 (Silver, 128 GB)",4.4,"1,45,544 Ratings & 16,327 Reviews"
42,"APPLE iPhone 6 Plus (Silver, 16 GB)",4.5,"1,670 Ratings & 201 Reviews"
43,"APPLE iPhone 5s (Silver, 16 GB)",4.4,"62,702 Ratings & 7,379 Reviews"
44,"APPLE iPhone 5C (Pink, 8 GB)",3.9,"1,324 Ratings & 265 Reviews"
45,"APPLE iPhone 5C (Yellow, 8 GB)",3.9,"1,324 Ratings & 265 Reviews"
46,"APPLE iPhone 5s (Gold, 16 GB)",4.4,"62,702 Ratings & 7,379 Reviews"
47,"APPLE iPhone 6 Plus (Gold, 64 GB)",4.5,"1,670 Ratings & 201 Reviews"
48,"APPLE iPhone 6 (Gold, 16 GB)",4.4,"1,45,544 Ratings & 16,327 Reviews"
49,"APPLE iPhone 6 (Space Grey, 64 GB)",4.4,"1,45,544 Ratings & 16,327 Reviews"
50,"APPLE iPhone 6 Plus (Space Grey, 128 GB)",4.5,"1,670 Ratings & 201 Reviews"
51,"APPLE iPhone X (Silver, 64 GB)",4.6,"10,982 Ratings & 876 Reviews"
52,"APPLE iPhone 6 (Silver, 64 GB)",4.4,"1,45,544 Ratings & 16,327 Reviews"
53,"APPLE iPhone X (Silver, 256 GB)",4.6,"10,982 Ratings & 876 Reviews"
54,"APPLE iPhone X (Space Gray, 64 GB)",4.6,"10,982 Ratings & 876 Reviews"
55,"APPLE iPhone X (Space Gray, 256 GB)",4.6,"10,982 Ratings & 876 Reviews"
56,"APPLE iPhone 5C (White, 32 GB)",3.9,"1,324 Ratings & 265 Reviews"
57,"APPLE iPhone 5C (White, 8 GB)",3.9,"1,324 Ratings & 265 Reviews"

# 6)Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” i

In [1]:
import selenium 
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome(r'C:/Users/sagar/Downloads/chromedriver_win32 (1)/chromedriver.exe')

In [3]:
driver=webdriver.Chrome('chromedriver.exe')

In [4]:
url="https://www.flipkart.com/"
driver.get(url)

In [2]:
search_sneakers=driver.find_element_by_class_name("_3704LK")
search_sneakers

In [3]:
search_sneakers.send_keys('sneakers')

In [4]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [5]:
search_btn.click()

In [6]:
brand = []
description =[]
price = []
discount = []

In [7]:
#scrapping the required details
start=0
end=3
for page in range(start,end):
    
    for i in driver.find_elements_by_class_name("_2WkVRV"):
        brand.append(i.text)
        
    for j in driver.find_elements_by_class_name("IRpwTa"):
        description.append(j.text)
        
    for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(i.text)
        
    for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')  :
        discount.append(i.text)
        
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [8]:
print(len(brand),len(description),len(price),len(discount))

120 120 120 120

In [9]:
import pandas as pd 
df = pd.DataFrame({'Brand':brand[:100],'Description':description[:100],'Price':price[:100],'Discount':discount[:100]})

In [10]:
df

,Brand,Description,Price,Discount
0,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹649,59% off
1,World Wear Footwear,Sneakers For Men,₹199,60% off
2,DUNKASTON,Sneakers For Men,₹339,77% off
3,COZY2FOOTWEAR,Comfortable Premium Stylish Unique Trendy Popu...,₹499,66% off
4,Magnolia,Sneakers For Men,₹448,55% off
...,...,...,...,...
95,Roadster,Men Blue Solid Sneakers Sneakers For Men,"₹1,299",53% off
96,ESSENCE,Sneakers For Men,₹474,52% off
97,Brainer,Sneakers For Men,₹499,61% off
98,AMICO,Sneakers For Men,₹499,50% off
99,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹429,78% off

# 7)Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

In [154]:
import selenium 
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [155]:
driver=webdriver.Chrome(r'C:/Users/sagar/Downloads/chromedriver_win32 (1)/chromedriver.exe')

In [156]:
url="https://www.myntra.com/shoes"
driver.get(url)

In [162]:
search_range=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
search_btn

In [163]:
search_range.click()

In [159]:
search_color=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
search_color

In [160]:
search_color.click()

In [161]:
brand = []
description =[]
price = []
discount = []

In [164]:

for page in range(start,end):
    
    for i in driver.find_elements_by_class_name("product-brand"):
        brand.append(i.text)
        
    for j in driver.find_elements_by_class_name("product-product"):
        description.append(j.text)
        
    for i in driver.find_elements_by_xpath("//div[@class='product-price']"):
        price.append(i.text)

In [167]:
print(len(brand),len(description),len(price))

150 150 150

In [169]:
import pandas as pd 
df = pd.DataFrame({'Brand':brand[:100],'Description':description[:100],'Price':price[:100]})

In [170]:
df

,Brand,Description,Price
0,Nike,Men Winflo 7 Running Shoes,Rs. 7995
1,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
2,ALDO,Men Leather Driving Shoes,Rs. 12999
3,Puma,Men Magnify Nitro Running,Rs. 9099Rs. 12999(30% OFF)
4,Puma,Electrify Nitro Running Shoes,Rs. 9999
...,...,...,...
95,Geox,Women Leather Pumps,Rs. 8999
96,Bugatti,Men Solid Formal Oxfords,Rs. 8999
97,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990
98,DAVINCHI,Solid Slip On Shoes,Rs. 7990
99,ROSSO BRUNELLO,PU Block Pumps with Buckles,Rs. 7999

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [10]:
import selenium 
from selenium import webdriver 
import pandas as pd 
import warnings 
warnings.filterwarnings("ignore")

In [11]:
driver=webdriver.Chrome(r'C:/Users/sagar/Downloads/chromedriver_win32 (1)/chromedriver.exe')

In [12]:
url="https://www.amazon.in/"
driver.get(url)

In [13]:
search_lap=driver.find_element_by_id("twotabsearchtextbox")
search_lap

In [14]:
search_lap.send_keys("laptop")

In [15]:
search_btn=driver.find_element_by_id("nav-search-submit-button")
search_btn

In [16]:
search_btn.click()

In [17]:
search_cpu7=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[12]/span/a/div/label/i")
search_cpu7

In [18]:
search_cpu7.click()

In [22]:
lap_tags = driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none s-padding-right-small s-title-instructions-style"]')
len(title_tags)
lap_tags[0:1]

In [23]:
lap_tags = driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none s-padding-right-small s-title-instructions-style"]')
len(title_tags)
lap_tags[0:1]

['Sponsored\nFujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024']

In [ ]:
price_tags = driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none s-padding-right-small s-title-instructions-style"]')
len(price_tags)
price_tags[0:1]

# 9) Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company

In [14]:
import selenium 
from selenium import webdriver
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [15]:
driver=webdriver.Chrome(r'C:/Users/sagar/Downloads/chromedriver_win32 (1)/chromedriver.exe')

In [16]:
url="https://www.ambitionbox.com/"
driver.get(url)

In [17]:
job_btn=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job_btn

In [18]:
job_btn.click()

In [19]:
from selenium.webdriver.support.select import Select

In [21]:
name_btn=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input").click()

In [23]:
name_btn.send_keys("Data scientist")

AttributeError: 'NoneType' object has no attribute 'send_keys'

In [12]:
search_btn=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span")
search_btn

In [13]:
search_btn.click()